
@font-face {
    font-family: 'Gotham-Thin';
    src: url('fonts/Gotham/Gotham-Thin.eot');
    src: local('Gotham Thin'), local('Gotham-Thin'),
        url('fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham/Gotham-Thin.woff2') format('woff2'),
        url('fonts/Gotham/Gotham-Thin.woff') format('woff'),
        url('fonts/Gotham/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham/Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'),
        url('fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham/Gotham-Book.woff') format('woff'),
        url('fonts/Gotham/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham/Gotham-Light.eot');
    src: local('Gotham Light'), local('Gotham-Light'),
        url('fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham/Gotham-Light.woff2') format('woff2'),
        url('fonts/Gotham/Gotham-Light.woff') format('woff'),
        url('fonts/Gotham/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url('fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
        url('fonts/Gotham/Gotham-Medium.woff') format('woff'),
        url('fonts/Gotham/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 767.98px) {
    .navigation-content{
        width: 100% !important;
    }
    body{
        overflow-x: hidden;
    }
}
@media (min-width: 768px) {
    .container-large {
        width: 770px;
    }
   
}
@media (min-width: 992px) {
    .container-large {
        width: 1030px;
    }
     .vacancy-btn{
        position: absolute !important;    
    }
}
@media (min-width: 1200px) {
    .container-large {
        width: 1310px;
    }
    .navigation-content {
        width: 1000px !important;
    }
    .vacancy-btn{
        position: relative !important;    
    }
}
.container-large {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px; 
}
body {
    background-color: #fafafa;
}
a {
    color: #2e343b;
    text-decoration: none !important;
}
a:hover {
    color: #868686;
}
.bg-white {
    background-color: white;
}
.bg-main-gray {
    background-color: #fafafa !important;
}
.btn-orange {
    background-color: #eb5635;
    color: #f8f8f8;
    font-family: Gotham;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .52rem;
    padding-bottom: .5rem;
    letter-spacing: 0;
}
.btn-orange:hover {
    background-color: #ffffff;
}
.btn-transparent {
    border: 3px solid white;
    color: #f8f8f8;
    font-family: Gotham;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .52rem;
    padding-bottom: .5rem;
    letter-spacing: 0;
}
.btn-transparent:hover {
    background-color: #ffffff;
}
.dropdown-top {
    font-family: Gotham-Book, sans-serif;
}
.icon {
    padding: 0.25rem;
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    font-size: 0.75rem;
}
.icon:hover { 
    opacity: 0.8;
}
.icon a {
    color: white;
}
.icons {
    padding-top: 0.3rem;
}
.icon-f {
    background-color: #407a86;
    color: white !important;
}
.icon-f i{
    margin-right: 0.01rem;
}
.icon-twit {
    background-color: #41b7cc;
}
.icon-twit i{
    margin-left: 0.07rem;
}
.icon-yout {
    background-color: #eb5635;
}
.icon-yout i{
    margin-left: 0.02rem;
}
.top {
  background-image: url(img/background/background-top.jpg);
  background-size: cover; 
  padding-bottom: 11.7rem;
}
.top-text {
    color: #ffffff;
    font-family: Gotham-Book;
    margin-top: 10.5rem; 
    letter-spacing: 0.84px;
}
.top-text hr {
    width: 186px;
    height: 4px;
    background-color: #eb5635;
}
.top-text > #top-text-1 {
    font-family: Gotham;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.84px;
}
.top-text > #top-text-2 {
    font-family: Gotham-Thin;
    font-size: 1.13rem; 
    letter-spacing: 0.36px;
}
.navigation .navigation-content{
    border-top: 2px solid #f1f1f1;
    background-color: white;
    width: 100%;
}
.nav-email{ 
  font-family: Gotham-Book;
}
.nav-menu {
    font-family: Gotham;
    font-size: 15px;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    padding-right: 1.75rem;
}
.nav-menu > ul li{
    margin-left: 10px;
    padding-left: 0.5rem;
}
.navbar-toggler {
    color: #eb5635;
}
.logo {
    border-right: 2px solid #f1f1f1;
}


.highteded-game {
    background-image: url(img/background/background-highteded-game.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 9.7rem !important;
    padding-top: 7rem !important;
}
.highteded-game h1 {
    color: #686868;
    font-family: Gotham-Book;
    font-size: 42px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0.84px;
}
.highteded-game .download-text {
    opacity: 0.8;
    color: #d4d4d4;
    font-family: Gotham-Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.32px;
}
.highteded-game hr {
    width: 186px;
    height: 4px;
    background-color: #eb5635;
}
.highteded-game .description-text {
    color: #4f4f4f;
    font-family: Gotham;
    font-size: 42px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.84px;
}
.highteded-game .description-text-2 {
    color: #b1b1b1;
    font-family: Gotham-Thin;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.36px;
}

.three-boxes {
    bottom: 5rem;
}
.three-boxes .box-text{
    background-color: white;
}
.three-boxes .box-1{
    max-width: 509px;
}
.three-boxes .box-2{
    max-width: 245px;
}
.three-boxes .box-3{
    max-width: 509px;
}
.box-header{
    color: #4b4b4b;
    font-family: Gotham-Light;
    font-size: 28px;
    font-weight: 300;
    line-height: 38.47px;
    letter-spacing: 0.59px;
}
.box-1 .box1-description-text {
    color: #b1b1b1;
    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 300;
    line-height: 22.52px;
    letter-spacing: 0.36px;
}
.box-3 h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    line-height: 38.47px;
    font-family: Gotham-Light;
    font-weight: 300;
    letter-spacing: 0.59px;
}
.box-3 h2 > span {
    font-family: Gotham;
    font-weight: 500;
    letter-spacing: 0.59px;
}
.box-3 .box3-description-text {
    color: #ffffff;
    font-family: Gotham-Light;
    font-size: 17px;
    font-weight: 300;
    line-height: 22.52px;
    letter-spacing: 0.36px;
}
.orange-circle {
    border: 2px solid #eb5635;
    border-radius: 50%;
    width: 43px;
    height: 42px;
}
.circle-inner {
    color: #eb5635;
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
    letter-spacing: 0.36px;
}
.circle-inner-2 {
    margin-left: 2px;
}
.circle-outer {
    color: #eb5635;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.5px;
    letter-spacing: 0.36px;
}
.team-header {
    color: #222222;
    font-family: Gotham;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.08px;
}
.team-underline {
    width: 49px;
    height: 7px;
    background-color: #eb5635;
}
.main-text {
    color: #999999;
    font-family: Gotham-Book;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.main-text .inner-text {
    color: #eb5635;
    font-weight: bold;
}
.vacancy-btn {
    bottom: 0;
}
.vacancy-card .btn-transparent {
    font-family: Gotham;
    font-size: 12px;
    font-weight: 700;
    border-color: #eb5635;
    border-width: 1px;
    color: #eb5635;
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
}
.vacancy-card .btn-transparent:hover{
    background-color: #eb5635;
    color: white;
}
.vacancy-card h3 {
    color: #4b4b4b;
    font-family: Gotham;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 38.47px;
    letter-spacing: 0.45px;
}
.vacancy-card .map-mark{
    color: #eb5635;
    font-size: 0.9375rem;
}
.vacancy-card-text {
    color: #b1b1b1;
    font-family: Gotham-Book;
    font-size: 13px;
    font-weight: 300;
    line-height: 22.52px;
    letter-spacing: 0.28px;
}
.vacancy-card-wrapper {
    background-color: white;
    background-clip: content-box !important;
}
.place span {
    color: #b1b1b1;
    font-family: Gotham-Light;
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 22.52px;
    letter-spacing: 0.32px;
}
.time i{
    color: #a5a5a5;
    font-size: 0.75rem;
}
.time span {
    color: #b1b1b1;
    font-family: Gotham;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 22.52px;
    letter-spacing: 0.26px;
}


.twitter .press-block a{
    color: #eb5635;
    font-family: Gotham-Book;
    font-size: 15px;
    line-height: 22.52px;
    letter-spacing: 0.32px;
}
.twitter a:hover{
    opacity: 0.6;
}
.twitter .blog-block,
         .press-block,
         .tweets-block {
    background-clip: content-box !important;
}
.twitter h2 {
    color: #222222;
    font-family: Gotham;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.08px;
}
.twitter .view-more {
    color: #b1b1b1;
    font-family: Gotham-Light;
    font-size: 15px;
    line-height: 22.52px;
    letter-spacing: 0.32px;
}
.twitter .view-more:hover {
    opacity: 0.6;
}
.twitter h3 {
    color: #4b4b4b;
    font-family: Gotham;
    font-size: 21px;
    font-weight: 700;
    line-height: 27.47px;
    letter-spacing: 0.45px;
}
.twitter .date {
    color: #b1b1b1;
    font-family: Gotham-Book;
    font-size: 15px;
    line-height: 22.52px;
    letter-spacing: 0.32px;
}
.twitter p  {
    color: #b1b1b1;
    font-family: Gotham-Book;
    font-size: 15px;
    line-height: 22.52px;
    letter-spacing: 0.32px;
}
.tweets-block a{
    color: #59adeb;
}
.tweets-block .shape {
    bottom: 1rem;
}
.tweets-block .twitter-link {
    bottom: 1.7rem;
}


footer .navbar {
    border-bottom: 1px solid #f2f2f2;
    color: #2e343b;
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
}
footer .navbar li {
    margin-right: 2rem;
}
footer .terms {
    color: #2e343b;
    font-family: Gotham-Book;
    font-size: 15px;
    font-weight: 400;
}